name: build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        # waiting on: https://github.com/actions/setup-node/issues/531
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm format:check
      - run: pnpm lint
      - run: pnpm typecheck
      - run: pnpm build
      - run: pnpm test
      - name: test built package on node@24
        working-directory: ./package-test/
        run: |
          pnpm install --frozen-lockfile

          node -v
          node test.cjs
          node test.mjs

      # Not using a matrix here since it's simpler
      # to just duplicate it and not spawn new instances

      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: test build package on node@20
        working-directory: ./package-test/
        run: |
          node -v
          node test.cjs
          node test.mjs

      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: test build package on node@20
        working-directory: ./package-test/
        run: |
          node -v
          node test.cjs
          node test.mjs
